<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Terminator Home</title>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top nav-color text-right">
      <div class="row">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/photos">Photos</a></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid text-center bg-1">
      <div class="row">
        <div class="column">
          <h3>Hi, I'm Arnold.</h3>
          <img
            class="img-circle"
            src="/Arnold_Jingle_thumbs_up.png"
            alt="badass"
          />
          <h3>I'm an adventurer!</h3>
        </div>
      </div>
    </div>

    <div class="container-fluid text-center bg-2">
      <div class="row">
        <div class="column">
          <h3>A Little About Me</h3>
          <p>I'm a long time fan of AI and robotics, and hope one day to create a sentient AI that can protect the world from the Russian threat. Some people thaink AI is dangerous, but cmon!</p>
        </div>
      </div>
    </div>
  </body>
</html>
